Dashboard/NodeRED_Flows.json
[
    {
        "id": "4eafaa4e697e9dbb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3678953116bbed7b",
        "type": "mqtt in",
        "z": "4eafaa4e697e9dbb",
        "name": "MQTT Arduino",
        "topic": "environment/data",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_local",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 800,
        "y": 440,
        "wires": [
            [
                "559a12ca53b5187c",
                "3860d8e522256552"
            ]
        ]
    },
    {
        "id": "559a12ca53b5187c",
        "type": "json",
        "z": "4eafaa4e697e9dbb",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "e5dbcb09a6ee3898",
                "25e1d6d2723e973e",
                "aabb3294af09c11a",
                "9bf1eef14b89ada9"
            ]
        ]
    },
    {
        "id": "e5dbcb09a6ee3898",
        "type": "function",
        "z": "4eafaa4e697e9dbb",
        "name": "Temperature",
        "func": "msg.gauge_payload = msg.payload.temp;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "x": 1270,
        "y": 380,
        "wires": [
            [
                "9c0edcdd01b623ed",
                "aced3f4017d7c08c",
                "13f55d0808c7a9f1"
            ]
        ]
    },
    {
        "id": "25e1d6d2723e973e",
        "type": "function",
        "z": "4eafaa4e697e9dbb",
        "name": "Humidity",
        "func": "msg.gauge_payload = msg.payload.hum;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "x": 1270,
        "y": 440,
        "wires": [
            [
                "1cf5814c23e84f57",
                "10967263fadbd8c1",
                "8459fe9d8b761446"
            ]
        ]
    },
    {
        "id": "aabb3294af09c11a",
        "type": "function",
        "z": "4eafaa4e697e9dbb",
        "name": "CO2 Level",
        "func": "msg.gauge_payload = msg.payload.CO2_level;\nmsg.payload = msg.payload.CO2_level;\nreturn msg;",
        "outputs": 1,
        "x": 1270,
        "y": 500,
        "wires": [
            [
                "a9a9863da31fcfdf",
                "da46fc1bd37a498c",
                "5b7c948d387bff33"
            ]
        ]
    },
    {
        "id": "9bf1eef14b89ada9",
        "type": "function",
        "z": "4eafaa4e697e9dbb",
        "name": "PM2.5",
        "func": "msg.gauge_payload = msg.payload.PM2_5_Concentration;\nmsg.payload = msg.gauge_payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 560,
        "wires": [
            [
                "bd04627246f08378",
                "52537e0e1d55ab91",
                "a594058f2f9dc333"
            ]
        ]
    },
    {
        "id": "9c0edcdd01b623ed",
        "type": "ui_gauge",
        "z": "4eafaa4e697e9dbb",
        "name": "Temperature Gauge",
        "group": "dashboard_group",
        "order": 1,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Temperature (°C)",
        "label": "°C",
        "format": "{{msg.gauge_payload}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 25,
        "seg2": 35,
        "x": 1470,
        "y": 380,
        "wires": []
    },
    {
        "id": "1cf5814c23e84f57",
        "type": "ui_gauge",
        "z": "4eafaa4e697e9dbb",
        "name": "Humidity Gauge",
        "group": "dashboard_group",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Humidity (%)",
        "label": "%",
        "format": "{{msg.gauge_payload}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 30,
        "seg2": 60,
        "x": 1470,
        "y": 440,
        "wires": []
    },
    {
        "id": "a9a9863da31fcfdf",
        "type": "ui_gauge",
        "z": "4eafaa4e697e9dbb",
        "name": "CO2 Gauge",
        "group": "dashboard_group",
        "order": 3,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "CO₂ Level (ppm)",
        "label": "ppm",
        "format": "{{msg.gauge_payload}}",
        "min": 0,
        "max": 5000,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 1000,
        "seg2": 2000,
        "x": 1470,
        "y": 500,
        "wires": []
    },
    {
        "id": "bd04627246f08378",
        "type": "ui_gauge",
        "z": "4eafaa4e697e9dbb",
        "name": "PM2.5 Gauge",
        "group": "dashboard_group",
        "order": 4,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "PM2.5 (µg/m³)",
        "label": "µg/m³",
        "format": "{{msg.gauge_payload}}",
        "min": 0,
        "max": 1000,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 35,
        "seg2": 100,
        "x": 1470,
        "y": 560,
        "wires": []
    },
    {
        "id": "aced3f4017d7c08c",
        "type": "ui_text",
        "z": "4eafaa4e697e9dbb",
        "group": "dashboard_group",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Temp Numeric",
        "label": "Temp (°C)",
        "format": "{{msg.gauge_payload}}",
        "x": 1670,
        "y": 380,
        "wires": []
    },
    {
        "id": "10967263fadbd8c1",
        "type": "ui_text",
        "z": "4eafaa4e697e9dbb",
        "group": "dashboard_group",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Humidity Numeric",
        "label": "Humidity (%)",
        "format": "{{msg.gauge_payload}}",
        "x": 1670,
        "y": 440,
        "wires": []
    },
    {
        "id": "da46fc1bd37a498c",
        "type": "ui_text",
        "z": "4eafaa4e697e9dbb",
        "group": "dashboard_group",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "CO2 Numeric",
        "label": "CO₂ (ppm)",
        "format": "{{msg.gauge_payload}}",
        "x": 1670,
        "y": 500,
        "wires": []
    },
    {
        "id": "52537e0e1d55ab91",
        "type": "ui_text",
        "z": "4eafaa4e697e9dbb",
        "group": "dashboard_group",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "PM2.5 Numeric",
        "label": "PM2.5 (µg/m³)",
        "format": "{{msg.gauge_payload}}",
        "x": 1670,
        "y": 560,
        "wires": []
    },
    {
        "id": "13f55d0808c7a9f1",
        "type": "ui_chart",
        "z": "4eafaa4e697e9dbb",
        "name": "Temperature Chart",
        "group": "dashboard_group",
        "order": 9,
        "width": 6,
        "height": 3,
        "label": "Temp Trend",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": 0,
        "ymax": 50,
        "removeOlder": 1,
        "removeOlderPoints": "60",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1870,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "8459fe9d8b761446",
        "type": "ui_chart",
        "z": "4eafaa4e697e9dbb",
        "name": "Humidity Chart",
        "group": "dashboard_group",
        "order": 10,
        "width": 6,
        "height": 3,
        "label": "Humidity Trend",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "ymin": 0,
        "ymax": 100,
        "removeOlder": 1,
        "removeOlderPoints": 50,
        "removeOlderUnit": "3600",
        "outputs": 1,
        "x": 1870,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5b7c948d387bff33",
        "type": "ui_chart",
        "z": "4eafaa4e697e9dbb",
        "name": "CO2 Chart",
        "group": "dashboard_group",
        "order": 11,
        "width": 6,
        "height": 3,
        "label": "CO₂ Trend",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "ymin": 0,
        "ymax": 5000,
        "removeOlder": 1,
        "removeOlderPoints": 50,
        "removeOlderUnit": "3600",
        "outputs": 1,
        "x": 1870,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a594058f2f9dc333",
        "type": "ui_chart",
        "z": "4eafaa4e697e9dbb",
        "name": "PM2.5 Chart",
        "group": "dashboard_group",
        "order": 12,
        "width": 6,
        "height": 3,
        "label": "PM2.5 Trend",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": 0,
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": 50,
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1870,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "3860d8e522256552",
        "type": "websocket out",
        "z": "4eafaa4e697e9dbb",
        "name": "WebSocket Out",
        "server": "36e399318bb16d71",
        "client": "",
        "x": 1000,
        "y": 620,
        "wires": []
    },
    {
        "id": "mqtt_local",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883"
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Environment Dashboard",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "36e399318bb16d71",
        "type": "websocket-listener",
        "path": "/env-data",
        "wholemsg": "false"
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Smart Environment Monitoring",
        "order": 1
    },
    {
        "id": "f9b3bdb964e850b8",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]